/* itinery css start */
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.flDetailHdr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* border-left: 4px solid #249995; */
  padding: 0 12px;
}
.scheduleDay {
  background-color: #ffedd1;
  padding: 2px 5px;
  font-size: 14px;
  font-weight: 700;
}
.refundTag {
  padding: 0 5px;
  border-radius: 2px;
  background-image: linear-gradient(81deg, #e08651, #2196f3);
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}
.flightItenaryHdr {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}
.airline_img {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  object-fit: cover;
}
.fontSize14 {
  font-size: 14px;
}
.flightItenary {
  /* background-color: #f4f4f4; */
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.itenaryLeft:before {
  content: "";
  position: absolute;
  top: 20px;
  height: calc(100% - 40px);
  border-left: 2px dashed #979797;
  left: 12.5%;
}
.time-info-ui {
  width: 62px;
  justify-content: space-between;
}
.layover {
  padding: 7px 20px;
  margin-left: 57px;
}
.flightItenary .layoverCircle {
  border: 2px solid #979797;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-flex;
  background-color: #f4f4f4;
  position: relative;
  top: 5px;
  z-index: 1;
  margin: 0;
}
.itenaryRight {
  width: 220px;
}
.itenaryList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0;
}
.itenaryList li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fontSize12 {
  font-size: 12px;
}
.bgg_width {
  width: 50px;
}
.appendTop20 {
  margin-top: 20px;
}
.refundSection {
  background-color: #f5f5ff;
  padding: 15px;
}
.blackFont {
  font-weight: 900;
}

.fontSize16 {
  font-size: 16px;
}
.fontSize14 {
  font-size: 14px;
}
.flightDetailsInfo {
  padding: 13px 0 12px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #4a4a4a;
  font-size: 14px;
}
.itiflightDetailsInfo_img {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.timeLineDetailsInfo {
  padding: 0 0 17px;
  display: flex;
}
.cancInfoLeft {
  min-width: 140px;
  font-size: 12px;
  color: #4a4a4a;
  font-weight: 700;
  max-width: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
}
.flexOne {
  flex: 1;
}
.cancPriceInfo {
  flex: 1;
  text-align: center;
  color: #000;
  font-weight: 900;
}
.cancGradline {
  height: 6px;
  margin: 3px 0 8px;
  border-radius: 12px;
  background-image: linear-gradient(
    to right,
    rgb(1, 149, 60),
    rgb(131, 180, 48),
    rgb(214, 158, 21),
    rgb(250, 93, 93)
  );
}
.cancTimeline {
  display: flex;
  justify-content: space-between;
}
.cancTimeNode {
  color: #4a4a4a;
}
.cancTimeNode.relative:before {
  position: absolute;
  content: "";
  height: 29px;
  border-left: 1px dashed #a9a9a9;
  left: 18px;
  top: -30px;
}
.refundUpgradeCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #efe8e8;
  padding: 5px 10px;
}
.fare_upgrade_ic {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 10px;
}
.upd_fare_amn_main {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.upd_fare_amn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #4a4747;
  width: 245px;
}
.upd_fare_amn_main i {
  color: #d32f2f;
}
.multifareFooter {
  display: flex;
  align-items: center;
  gap: 40px;
}
.continue_btn {
  border-radius: 4px;
  border: none;
  background-color: #d32f2f;
  color: #fff;
  font-size: 1.2rem;
  padding: 3px 6px;
  font-weight: 600;
}
.iti_card_bg {
  background-image: linear-gradient(to bottom, #051322, #15457c);
  color: #fff;
}
.payltr_card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.payltr_card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.inner_logincard {
  height: 100px;
  display: flex;
  justify-content: space-around;
  padding: 0.8rem;
}
.travel_guide img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.travel_guide {
  font-size: 14px;
  font-weight: 800;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #4a4a4a;
}
.travel_guide_ul {
  list-style: disc;
  font-size: 12px;
  line-height: 24px;
  padding: 0 1rem;
}
.insuranceshield {
  width: 32px;
  height: 30px;
  object-fit: cover;
  margin-right: 10px;
}

.form-check-input.insurance_check:checked[type="radio"]
  + .select_insurance_radio {
  color: #4a4747;
  font-weight: 900;
}
.select_insurance_h_s {
  background-color: rgb(181, 255, 214);
  width: 100%;
  padding: 5px;
  margin: 10px 0;
  font-size: 12px;
}
.select_insurance_h_s img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  margin-right: 10px;
}
.traveler_detls_log_ic img {
  width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 10px;
}
.traveler_detls_login {
  display: flex;
  justify-content: space-between;
  background-color: #ecf5fa;
  padding: 10px;
  border-radius: 4px;
}
.warning_user {
  background-color: rgb(255, 237, 209);
  padding: 5px;
  font-size: 12px;
}
.traveller_input {
  border: 1px solid darkgray;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  width: 100%;
  font-size: 13px;
}
select.form-select.shadow-none {
  font-size: 13px;
  border-color: darkgray;
  padding-left: 5px;
}
.gender_inputfx {
  display: flex;
  align-items: center;
}
.gender_select {
  border: 1px solid lightgray;
  padding: 5px 20px;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
.gender_radio:checked[type="radio"] + .gender_select {
  background-color: aliceblue;
  border-bottom: 3px solid #d32f2f;
}
.Fare_summary {
  border-bottom: 1px solid lightgray;
  margin: 1rem auto;
}
.fare_summry_hd {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-right: 16px;
}
.fare_summry_hd img {
  width: 14px;
  height: 14px;
  object-fit: cover;
  display: none;
}
.fare_summry_btn {
  border: 0;
  background-color: #fff !important;
  color: #000 !important;
  padding: 0.5rem 0rem;
}
.fare_summary_dtls_fx {
  display: flex;
  justify-content: space-between;
  /* padding-left: 24px; */
  font-size: 14px;
  margin: 7px auto;
  margin-right: 33px;
}
.TotalFare_fx {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: bolder;
  color: #4a4a4a;
  margin-right: 25px;
}
.itinery-section {
  /* padding-left: 5rem; */
  text-align: start;
  /* background-image: linear-gradient(to bottom, #051322, #051322); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 5rem;
  color: #000;
}
.bgGradient {
  /* background-image: linear-gradient(to bottom, #051322, #15457c); */
  width: 100%;
  /* position: absolute; */
  top: 0;
  left: 0;
  min-height: 150px;
}
.smth_scroll {
  display: none;
  align-items: center;
  gap: 20px;
  visibility: hidden;
}
.smth_scroll a {
  font-size: 14px;
  text-decoration: underline;
}
.is-itisticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
  background-color: #fff !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
}
.lg_btn {
  color: #d32f2f;
  font-size: 16px;
  font-weight: 800;
}

.popover.fade.show.bs-popover-top.icon_popover {
  left: unset;
  top: 0%;
  background-color: #000;
  color: #fff;
  display: none;
  right: -10%;
}
.popover-arrow.icon_popoverArrow:after {
  border-top-color: #000 !important;
}
.hvShow:hover > .icon_popover {
  display: block !important;
}
.htp_bar_fx {
  display: flex;
  align-items: center;
}
.htp_bar {
  height: 2px;
  width: 60px;
  display: block;
  border: 1px dotted #000;
}
.htp_days_count {
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 12px;
  width: 40%;
}
.htp_check_main_fx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.htp_checkin_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo_bg_main {
  /* background: linear-gradient(0deg, #edd287, #b8860b); */
  padding: 0.3rem;
}
.promo_bg {
  font-size: 22px;
  font-weight: 600;
  /* color: white; */
}
.promo_gif {
  width: 20%;
  background-color: white;
  padding: 8px;
  border-radius: 25px 0px 0px;
  object-fit: cover;
}
.promo_input {
  border: 1px solid lightgrey;
  padding: 5px;
  border-radius: 5px;
  margin: 1rem auto;
  display: block;
  width: 100%;
  outline: none;
}
.promo_form_check {
  /* background-color: #e8e8e8; */
  padding: 0.3rem;
  font-size: 13px;
}
.promo_gretting {
  color: lightseagreen;
  font-size: 13px;
  font-weight: 500;
}
.promocheckbox:checked[type="checkbox"]
  + .promocheckbox_label
  .accordion_check_hide {
  display: none;
}
.card.p-3.my-3.shadow:hover {
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
  transition: 0.5s ease-in;
}
span.fsz_12.accordion_check_hide {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.1px;
}
.htp_star.fsz_12 i {
  color: rgb(254, 194, 45);
  font-size: 14px;
}
.ht_detail_card {
  border: 1px solid #e7e7e7;
  border-radius: 6px;
  padding-left: 1rem;
}
span.htp_day.fsz_12.text-muted {
  font-size: 14px;
}

.accordion-button::after {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  margin-left: auto;
  content: "";
  background-size: 1rem;
  transition: transform 0.2s ease-in-out;
}
.mt_n5 {
  margin-top: -8rem;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

.res_mt_n {
  margin-top: -34rem;
}
.add_ontabs .nav-link.active,
.farerule_modal .nav-link.active {
  color: #ffff !important;
  background-color: #d32f2f;
  border: none;
}
.add_ontabs .nav-link,
.farerule_modal .nav-link {
  color: #151212 !important;
}
.anchor_color {
  color: #d32f2f;
}
.Gst_check_input {
  border: 1px solid #d32f2f;
}
.flDetailHdr.accordion-button {
  background-color: white;
}
.ht_pay_type {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.roomguest {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/* review booking section  start*/

.reviewbooking_canvas_width {
  width: 55% !important;
  z-index: 1100;
}
.add-on-btn {
  color: #15457c;
  font-size: 12px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}
.addlist_offcanvas_btn {
  border: 1px solid #003466;
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  color: #393939;
  font-weight: 700;
}
.addlist_offcanvas_btn i {
  color: #003466;
}
table.table.text-center td {
  font-size: 14px;
  padding: 0;
}


/* review booking section */
/* itinery css end */
@media only screen and (max-width: 1150px) {
  .fare_summry_hd {
    gap: 0;
  }
}
@media only screen and (max-width: 994px) {
  .mt_n5,
  .res_mt_n {
    margin-top: 0rem;
  }
}
@media only screen and (max-width: 770px) {
  .itinery-section {
    padding-left: 0rem !important;
    padding-right: 0rem !important;
    flex-wrap: wrap;
    justify-content: start !important;
  }
  .smth_scroll {
    align-items: center;
    gap: 10px;
    justify-content: center;
  }
}
@media only screen and (max-width: 556px) {
  .flightItenary {
    background-color: #f4f4f4;
    padding: 10px;
    display: flex;
    flex-direction: column !important;
    gap: 32px;
    justify-content: space-between;
  }
  .bgg_width {
    width: 100% !important;
  }
  span.htp_date.h5.fw-bold.m-0 {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 460px) {
  .res_fx_column {
    flex-direction: row !important;
    align-items: baseline;
    gap: 20px;
  }
  .scheduleDay,
  .res_stopsch,
  .smth_scroll a {
    font-size: 12px;
  }
  .resfontsz12 {
    text-align: center;
    font-size: 12px;
  }
  .flDetailHdr {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: baseline;
    /* border-left: 4px solid #249995; */
    padding: 0 12px;
    gap: 1px;
  }
  .ViewDetailsbtn {
    text-align: end;
  }
  .popover.fade.show.bs-popover-top.icon_popover {
    left: unset;
    top: 5%;
    background-color: #000;
    color: #fff;
    display: none;
    right: 0%;
  }
  .timeInfores_fx {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .layover {
    text-align: center;
  }
  .itenaryLeft::before {
    left: 15.5%;
    top: 10px;
    display: none;
  }
  .ViewDetailsbtn {
    text-align: end;
  }
  .timeLineDetailsInfo {
    padding: 0 0 17px;
    display: flex;
    flex-direction: column;
  }
  .cancTimeNode {
    color: #4a4a4a;
    font-size: 13px;
  }
  .fsz_12 {
    font-size: 12px;
  }
  .refundTag.invisible {
    display: none;
  }
}
